.table-container{
    overflow-y: scroll;
    max-height: 500px;
}


th{
    top: 0;
    position: sticky;
    background-color: rgb(228, 228, 228);
    z-index: 20;
}

#homepage,#steth{
    width: 100%;
    height: 3em;
    display: block;
    text-align: center;
}