{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'classifierpage.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/fontawesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/solid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/brands.css' %}" type="text/css">
    
    <title>Classifier</title>
</head>
<body>
    <div class="nav-bar">
        <a id="homepage" style="color: black;" href="{% url 'homepage' %}"><i class="fa-solid fa-home"></i></a>
        <a id="database" style="color: black;" href="{% url 'datapage' %}"><i class="fa-solid fa-database" style="font-size: large;"></i></a>
    </div>

    <div class="container-main">
        <p class="title">Classifier</p>
        <div class="container-info">
            <p class="content">Welcome to the classifier page. If you have gone through the dataset page you would know exactly what the the form represents. 
                The form takes in input values regarding an individual and tells whether the individual has diabetes or not based on the data given. Below this form 
                you will find a poll or a voting system off which you can choose whether the classifier is accurate or not based on the data you have inputed. if you are
                unsure of the fields given below, do read through the <a href="{% url 'datapage' %}">dataset</a> page in orderto get a better idea as to the input data.
            </p>
        </div>

        <div class="container-info form">
            <form action="/classifier/predict">
                <table id="form">
                    <tr>
                        <td><label for="gender">Gender</label></td>
                        <td id="op"><select name="gender" id="gender">
                            <option value="Female">FEMALE</option>
                            <option value="Male">MALE</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><label for="age">Age: </label></td>
                        <td id="op">
                            <input type="number" id="age" max="150" step="1">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="hypertension">Hypertension: </label></td>
                        <td id="op">
                            <select name="hypertension" id="hypertension">
                                <option value="0">NO</option>
                                <option value="1">YES</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="heart_disease">Heart Disease: </label></td>
                        <td id="op">
                            <select name="heart_disease" id="heart_disease">
                                <option value="0">NO</option>
                                <option value="1">YES</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="smoking_history">Smoking History: </label></td>
                        <td id="op">
                            <select name="smoking_history" id="smoking_history">
                                <option value="never">NEVER</option>
                                <option value="No Info">NO INFO</option>
                                <option value="current">CURRENT</option>
                                <option value="former">FORMER</option>
                                <option value="ever">EVER</option>
                                <option value="not current">NOT CURRENT</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="bmi">BMI: </label></td>
                        <td id="op">
                            <input type="number" name="bmi" id="bmi" step="0.01">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="HbA1c_level">HbA1c level: </label></td>
                        <td id="op">
                            <input type="number" name="HbA1c_level" id="HbA1c_level" step="0.1">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="blood_glucose_level">Blood Glucose Level: </label></td>
                        <td id="op">
                            <input type="number" name="blood_glucose_level" id="blood_glucose_level" step="1">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" rowspan="3" style="text-align: center;"><input id="sub" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="mobile-container">
            <form action="">
                <label for="gender">Gender: </label>
                <select id="gender" name="gender">
                    <option value="Female">FEMALE</option>
                    <option value="Male">MALE</option>
                </select><br>
                <label for="age">Age: </label>
                <input type="number" id="age" max="150" step="1"><br>
                <label for="hypertension">Hypertension: </label>
                <select name="hypertension" id="hypertension">
                    <option value="0">NO</option>
                    <option value="1">YES</option>
                </select><br>
                <label for="heart_disease">Heart Disease: </label>
                <select name="heart_disease" id="heart_disease">
                    <option value="0">NO</option>
                    <option value="1">YES</option>
                </select><br>
                <label for="smoking_history">Smoking History: </label>
                <select name="smoking_history" id="smoking_history">
                    <option value="never">NEVER</option>
                    <option value="No Info">NO INFO</option>
                    <option value="current">CURRENT</option>
                    <option value="former">FORMER</option>
                    <option value="ever">EVER</option>
                    <option value="not current">NOT CURRENT</option>
                </select><br>
                <label for="bmi">BMI: </label>
                <input type="number" name="bmi" id="bmi" step="0.01"><br>
                <label for="HbA1c_level">HbA1c level: </label>
                <input type="number" name="HbA1c_level" id="HbA1c_level" step="0.1"><br>
                <label for="blood_glucose_level">Blood Glucose Level: </label>
                <input type="number" name="blood_glucose_level" id="blood_glucose_level" step="1"><br>
                <input type="submit">
            </form>

        </div>
        <br>
        <br>
    </div>
</body>
</html>