{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'datapage.css' %}">
    <title>The Dataset</title>
</head>
<body>

    <div class="container-main">
        <div class="table-container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Hypertension</th>
                    <th>Heart Disease</th>
                    <th>Smoking History</th>
                    <th>BMI</th>
                    <th>HbA1c Level</th>
                    <th>Blood Glucose Level</th>
                    <th>Diabetes</th>
                </tr>
                {% for record in records %}
                    <tr>
                        <td>{{record.id}}</td>
                        <td>{{record.gender}}</td>
                        <td>{{record.age}}</td>
                        <td>{{record.hypertension}}</td>
                        <td>{{record.heart_disease}}</td>
                        <td>{{record.smoking_history}}</td>
                        <td>{{record.bmi}}</td>
                        <td>{{record.HbA1c_level}}</td>
                        <td>{{record.blood_glucose_level}}</td>
                        <td>{{record.diabetes}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>