{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <title>Homepage</title>
</head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<body>
    <div class="container-main">
        <p class="title">DIABETES</p>
        <div class="container-info">
            <p class="content">
                Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat.
                 Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. 
                 Glucose then stays in your blood and doesn’t reach your cells.Over time, having too much glucose in your blood can cause health problems. Although diabetes has no cure, you can take steps to 
                 manage your diabetes and stay healthy.Sometimes people call diabetes “a touch of sugar” or “borderline diabetes.” These terms suggest that someone doesn’t really have diabetes or has a less serious case,
                 but every case of diabetes is serious.
            </p>

            <p class="sub-title">Different types of diabetes</p>
            <p class="sub-heading">Type 1 diabetes</p>
            <p class="sub-content">If you have type 1 diabetes, your body does not make insulin. Your immune system attacks and destroys the cells in your pancreas
                 that make insulin. Type 1 diabetes is usually diagnosed in children and young adults, although it can appear at any age. 
                 People with type 1 diabetes need to take insulin every day to stay alive.
            </p>
            <p class="sub-heading">Type 2 diabetes</p>
            <p class="sub-content">If you have type 2 diabetes, your body does not make or use insulin well.
                 You can develop type 2 diabetes at any age, even during childhood. However, this type of diabetes occurs most often
                  in middle-aged and older people. Type 2 is the most common type of diabetes.</p>
            <p class="sub-heading">Gestational diabetes</p>
            <p class="sub-content">Gestational diabetes develops in some women when they are pregnant. Most of the time, this type of diabetes goes away after the baby is born. However, if you’ve had gestational diabetes, 
                you have a greater chance of developing type 2 diabetes later in life. Sometimes diabetes diagnosed during pregnancy is actually type 2 diabetes.</p>
            <p class="sub-heading">Other types of diabetes</p>
            <p class="sub-content">Less common types include monogenic diabetes, which is an inherited form of diabetes, and cystic fibrosis-related diabetes </p>
            <p class="sub-title">How common is diabetes?</p>
            <p class="sub-content">As of 2015, 30.3 million people in the United States, or 9.4 percent of the population, had diabetes. More than 1 in 4 of them didn’t know they had the disease.
                 Diabetes affects 1 in 4 people over the age of 65. About 90-95 percent of cases in adults are type 2 diabetes.<mark> You are more likely to develop type 2 diabetes if you are age 45 or older, have a family history of diabetes, or are overweight. 
                 Physical inactivity, race, and certain health problems such as high blood pressure also affect your chance of developing type 2 diabetes. You are also more likely to develop type 2 diabetes if you have prediabetes or had gestational diabetes when
                  you were pregnant. Learn more about risk factors for type 2 diabetes.</mark></p>
            <p class="sub-title">What health problems can people with diabetes develop?</p>
            <p class="sub-content">Over time, high blood glucose leads to problems such as  <br>
                <ul>
                    <li>heart disease</li>
                    <li>stroke</li>
                    <li>kidney disease</li>
                    <li>eye problems</li>
                    <li>dental disease</li>
                    <li>nerve damage</li>
                    <li>foot problems</li>
                </ul></p>
            <br>
            <p class="sub-title">Dataset</p>
            <p class="content">The dataset is taken from <a href="https://www.kaggle.com/datasets/iammustafatz/diabetes-prediction-dataset">kaggle</a> and contains
                data regarding various factors related to an individual and whether the individual has diabetes or not. An analysis of the factors in order to 
                investigate whether any of these factors have a relationship with the presence or absence of diabetes in the individual has been carried out. 
                The detailed analysis and construction of the model can be seen in <a href="https://github.com/omr-hk/Diabetes-Classification">github</a>.</p>
            <p class="content">A small portion of the dataset can be seen below. To view more details about the dataset click <a href="{% url 'datapage' %}">here</a>.</p>
        </div>

        <div class="table-container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Hypertension</th>
                    <th>Heart Disease</th>
                    <th>Smoking History</th>
                    <th>BMI</th>
                    <th>HbA1c Level</th>
                    <th>Blood Glucose Level</th>
                    <th>Diabetes</th>
                </tr>
                {% for record in records %}
                    <tr>
                        <td>{{record.id}}</td>
                        <td>{{record.gender}}</td>
                        <td>{{record.age}}</td>
                        <td>{{record.hypertension}}</td>
                        <td>{{record.heart_disease}}</td>
                        <td>{{record.smoking_history}}</td>
                        <td>{{record.bmi}}</td>
                        <td>{{record.HbA1c_level}}</td>
                        <td>{{record.blood_glucose_level}}</td>
                        <td>{{record.diabetes}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>